<section aria-label="Newest Photos">
  <div class="carousel" data-carousel>
    <button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
    <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
      <ul data-slides>
        <li class="slide" data-active>
          <img src="https://i1.wp.com/hipertextual.com/wp-content/uploads/2019/04/hipertextual-que-peliculas-ver-antes-avengers-endgame-segun-hermanos-russo-2019093343.jpg?fit=2000%2C1270&ssl=1" >
        </li>
        <li class="slide">
          <img src="https://www.fullsail.edu/assets/ext/about/over-150-grads-credited-throughout-marvel-cinematic-universe-share.jpg">
        </li>
        <li class="slide">
          <img src="https://i.blogs.es/46dde4/marvel-timeline-2/1366_2000.jpg">
        </li>
        <li class="slide">
            <img src="https://gcdn.lanetaneta.com/wp-content/uploads/2019/11/Marvel-Cinematic-Universe-5-mejores-y-5-peores-pel%C3%ADculas-clasificadas-780x405.jpg" >
        </li>
         <li class="slide">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/marvel-cinematic-universe-order-1601976266.jpg?crop=1.00xw:0.753xh;0,0.0416xh&resize=1200:*" >
        </li>
        <li class="slide">
            <img src="https://www.warpaintjournal.com/wp-content/uploads/2020/06/Marvel-Female-Characters.jpg" >
        </li>
        <li class="slide">
            <img src="https://goldencitysaint.files.wordpress.com/2014/10/marvel-cinematic-universe-poster.jpg" >
        </li>
      </ul>
  </div>
</section>