body {
    background-color: lavender;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.card-img-top {
    height: fit-content;
}

.card-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.button {
    align-items: baseline;
}
